.header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
}
.logo{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    .logo-img{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .logo-text{
        align-self: end;
    }
}
.news .container .articles {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(300px, 570px));
    grid-column-gap: 30px;
}

.events .container .articles article{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.ministries .container .articles, main .ministries .articles{
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-auto-flow: row;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.about-us .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.resources .container {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    .articles{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 370px));
        grid-auto-flow: row;
        grid-column-gap: 30px;
    }
    .right .partners{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
footer .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    padding-bottom: 0;
    .rights{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
    .pagination .page-links{
        display:grid;
        grid-template-columns: 30px 1fr 30px;
    }
}
.form{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.fieldWrapper{
    display: grid;
    grid-template-columns:150px 1fr;
}

.galleries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    li{
        display: grid;
        grid-template-rows: 2fr 0.2fr;
        grid-template-columns: 1fr 1fr;
    }
    li .photo-content{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
.photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-row-gap: 15px;
}


.login form p, .password form p{
    display:grid;
    grid-template-columns: 20% 1fr;
}
.signup form p{
    display:grid;
    grid-template-columns: 40% 1fr;  
    grid-template-rows:1fr;
    span{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
.helper_nav .container {
    display:grid;
    grid-template-columns: 3fr 1fr;
}



@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}