[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
rope = "*"
gulp = "*"
coverage = "*"
"flake8" = "*"
"flake8-html" = "*"
termcolor = "*"
autopep8 = "*"

[packages]
django = "*"
django-summernote = "*"
unidecode = "*"
pillow = "*"
django-debug-toolbar = "*"
simplejson = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
requests = "*"
django-htmlmin = "*"
fabric3 = "*"

[requires]
python_version = "3.7"
