[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
rope = "*"
gulp = "*"

[packages]
django = "==2.0.7"
django-summernote = "*"
unidecode = "*"
pillow = "*"
django-debug-toolbar = "*"
simplejson = "*"
python-decouple = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"

[requires]
python_version = "3.6"
