.comment 
    border: 1px solid darken(#8c8583, 10%)
    margin: 10px 0
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    box-shadow: 1px 1px #CCC
    width: 91%    
    +element('header')
        background-color: #8c8583
        color: #fff
        padding: 5px
        display: flex
        flex-direction: column

        & > *
            margin: 2px 0

    +element('user')
        color:black

    +element('body')
        font-size: 0.9em
        line-height: 1.4em
        padding: 5px 0 5px 20px

