{% extends "base.html" %} 
{% load static %}

{% block pagetitle %}
    {{active_page.title}} - 
    {{block.super}}
{% endblock pagetitle %}  

{% block breadcrumbs %}
    {{ block.super }} <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="{% url active_page.slug %}" title="{{active_page.title}}">{{active_page.title}}</a></li>
{% endblock %}

{% block content %}
<header>
    <h2 class="content__title">Статьи</h2>
    <p class="content__text">{{active_page.description|safe}}</p>
    <h3 class="resource__chosen-title">
        {% if chosen_author %}
            <span class="resource__cat-selected"> Выбран автор: {{chosen_author.last_name}} {{chosen_author.first_name}}</span>
        {% endif %}
        {% if chosen_category %}
            <span class="resource__cat-selected"> Выбрана категория: {{chosen_category.title}}</span>
        {% endif %}
    </h3>
</header>
<section>
  {% for article in article_list %}
    <article class="resource">
        <h3 class="resource__title">
            <a class="resource__link" href='{{article.get_absolute_url}}' alt='{{article.title}}'>{{article.title}}</a>
        </h3>
        <ul class="meta-info">
            <li class="meta-info__item"><time class="meta-info__text" datetime="{{article.date|date:'Y-m-d'}}">
                    {{article.date|date:'d F Y'}}</time></li>
            <li class="meta-info__item"><a class="meta-info__link" href="{% url 'author-filter' article.author.id %}" alt="{{article.author.last_name}} {{article.author.first_name}}">{{article.author.last_name}}
                    {{article.author.first_name}}</a></li>
            <li class="meta-info__item">
                <a class="meta-info__link" href="{% url 'category-filter' article.category.slug %}" alt="{{article.category.title}}">{{article.category.title}}</a>
            </li>
        </ul>
        <div class="resource__content">
            {{article.description|striptags|truncatechars:300|safe}}
        </div>
    </article>
  {% endfor %}
</section>
{% include "pagination.html" %}
{% endblock content %}

{% block rightside %}
<h3>Фильтр по:</h3>
<section class="filter">
    <h4 class="aside__subtitle">Категории</h4>
    <ul class="aside__menu-list">
        {% for category in categories %}
            <li class="aside__menu-item"><a class="aside__menu-link" href="{% url 'category-filter' category.slug%}" alt="{{category.title}}">{{category.title}}</a></li>
        {% endfor categories %}
    </ul>
</section>
<section class="filter">
    <h4 class="aside__subtitle">Автору</h4>
    <ul class="aside__menu-list">
        {% for author in authors %}
            <li class="aside__menu-item"><a class="aside__menu-link" href="{% url 'author-filter' author.id %}" alt="{{author.last_name}} {{author.first_name}}">{{author.last_name}} {{author.first_name}}</a></li>
        {% endfor %}
    </ul>
</section>

{% endblock rightside %}


{% block jsfooter %}
    <script>
        function toogleFilter(selector){
            $('.filter ul:not(:first-of-type)').css('display','none');
            $('#'+selector).css('display','block');
        }
    $(document).ready(function(){
        var echbNS = echbNS || {};
        echbNS.category = '{{chosen_category.title}}';
        echbNS.author = '{{chosen_author.last_name}}';

        if (echbNS.category == '' && echbNS.author == ''){
            $('#category').css('display','block');
        }
        $('#filter-category').on('click',function(){
            toogleFilter('category');
            return false;
        });
        $('#filter-author').on('click',function(){
            toogleFilter('author');
            return false;
        });
    });
    </script>
{% endblock jsfooter %}
    