{% extends 'base.html' %}
{% load user_extras %}

{% block content %}
<div class="login">
  <h2>Авторизация</h2>
    {% if form.username.value|user_is_old %}
      <p>Вам необходимо изменить пароль в связи со техническими работами над сайтом: <a href="{% url 'password_reset' %}">Изменить пароль</a> </p>
    {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Вход</button>
  </form>
  <a href="{% url 'password_reset' %}">Забыли пароль?</a>
</div>
{% endblock %}