{% extends 'base.html' %}
{% load user_extras %}

{% block content %}
<div>
  <h2 class="content__title">Авторизация</h2>
    {% if form.username.value|user_is_old %}
      <p>Вам необходимо изменить пароль в связи со техническими работами над сайтом: <a href="{% url 'password_reset' %}">Изменить пароль</a> </p>
    {% endif %}
  <div class="content__column-2-4">
      <form method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="button button--submit">Вход</button>
      </form>
      <a class="content__link" href="{% url 'password_reset' %}">Забыли пароль?</a>
  </div>
</div>
{% endblock %}