{% extends "base.html" %} 
{% load static %}

{% block content %}
<article class="prayer-requests">
    <h2>
        Ваши молитвенные нужды
    </h2>
        {% if user.is_authenticated %}
        <ul>
            {% for need in my_prayer_requests %}
                <li>{{need.description}} (<time datetime="{{video.date|date:'Y-m-d H:i'}}">{{need.created|date:'d F Y'}}</time>)</li>
                {% empty %}
                <li>Их нет. Вы можете подать молитвенную нужду в одном из разделов <a href="{% url 'online' %}">здесь.</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <a href="{% url 'login' %}">login</a> /
            <a href="{% url 'signup' %}">signup</a>
        {% endif %}
  </header>
</article>

{% endblock content %}
    