{% extends "base.html" %} 
{% load static %}
{% block breadcrumbs %}
    {{ block.super }} 
    {% if active_page.slug != page.slug %}
        <li><a href="{{active_page.slug}}" title="{{active_page.title}}">{{active_page.title}}</a></li>
    {% endif %}
        <li> <a href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a></li>
{% endblock %}

{% block content %}
<article class="prayer-requests">
    <h2>
        Личный кабинет
    </h2>
        {% if user.is_authenticated %}
        <h3>Ваши молитвенные нужды: </h3>
        <ul>
            {% for need in prayer_requests %}
                <li>{{need.description}}</li>
                {% empty %}
                <li>Их нет. Вы можете подать молитвенную нужду в одном из разделов <a href="{% url 'online' %}">здесь.</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <a href="{% url 'login' %}">login</a> /
            <a href="{% url 'signup' %}">signup</a>
        {% endif %}
  </header>
</article>

{% endblock content %}
    