{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h2 class="content__title">Изменение пароля для @{{ form.user.username }}</h2>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="button button--submit">Изменить пароль</button>
    </form>
  </form>
  {% else %}
    <h2 class="content__title">Изменение пароля</h2>
    <div class="content__alert">
      Кажется ссылка, по которой вы перешли неверная, попробуйте еще раз.
    </div>
    <a href="{% url 'password_reset' %}" class="content__link">Получить ссылку для изменения пароля</a>
  {% endif %}

{% endblock %}