{% extends 'base.html' %}

{% block content %}
<div class="login">
  {% if validlink %}
  <h2>Изменение пароля для @{{ form.user.username }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Изменить пароль</button>
  </form>
  </form>
{% else %}
  <h2>Изменение пароля</h2>
  <div class="alert">
    Кажется ссылка, по которой вы перешли неверная, попробуйте еще раз.
  </div>
  <a href="{% url 'password_reset' %}" class="button">Получить ссылку для изменения пароля</a>
{% endif %}
</div>
{% endblock %}