{% extends 'base.html' %}

{% block content %}
<div class="signup">
  <h2>Регистрация</h2>
  <div class="content__column-3-4">
    <form method="post" class="form">
      {% csrf_token %}
      {% for field in form %}
          <div class="form__fieldWrapper">
              {{ field.errors }} 
              {{ field }} 
              {% if field.help_text %}
                  <div class="form__helptext">{{ field.help_text|safe }}</div>
              {% endif %}
          </div>
      {% endfor %}
      <button type="submit" class="button button--submit">Зарегистрироваться</button>
    </form>
  </div>
</div>
{% endblock %}