.menu
    +element('links')
        display: none

        +desktop()
            display: flex
            flex-flow: row nowrap
            margin-left: 98px

    +element('mobile-link')
        +desktop()
            display: none
             
    +element('item')
        display: inline-block
        font-size: 1em
        text-transform: uppercase
        text-decoration: none
        padding: 5px 10px
        margin: 0 7px
        color: #fff
        +modifier('active')
            border: 2px solid #fff
            padding: 3px 8px
            border-radius: 5px

        &:hover
            border: 2px solid #fff
            border-radius: 5px
            padding: 3px 8px
            transition-property: border-color
            transition-duration: .4s,.4s
            transition-timing-function: ease,ease-out
            transition-delay: 0s,.4s
        