{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        {% block pagetitle %} {% if active_page %} {{active_page.title}} - {% endif %} {% endblock pagetitle %} Харьковское областное объединение церквей евангельских христиан-баптистов
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo %} 
        {% include 'seo.html' %} 
    {% endblock seo %}

    <meta name="author" content="team of christians">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    {% if debug %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    {% endif %}
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
        {% block styles %} {% endblock styles %} 
        {% block jshead %} {% endblock jshead %}

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#2b5262">
        <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#2b5262">
        <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <header>
        <div class='header container'>
            <div class="logo">
                <a href="/home/" title="Харьковское областное объединение церквей ЕХБ" class="logo-img">
                    <img src="{% static 'img/logo.png' %}" alt="Харьковское областное объединение церквей ЕХБ">
                </a>
                <a href="/home/" title="Харьковское областное объединение церквей ЕХБ" class="logo-text"><span>Харьков для Христа</span></a>
                <span class="logo-description">Харьковское областное объединение церквей ЕХБ</span>
            </div>
            {% include 'navigation.html' %}
        </div>
    </header>
    <nav class="helper_nav">
        <div class="container padding-15">
            <ul class="breadcrumbs">
                {% block breadcrumbs %}
                <li>
                        <i class="fas fa-home fa-xs"></i> <a href="/" title='Главная'>Главная</a>
                </li> {% endblock %}
            </ul>

            {% if not user.is_authenticated %}
            <div class="auth"> 
            <ul>
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-xs"></i> Вход</a></li>
                    <li><a href="{% url 'signup' %}"><i class="fas fa-user-plus fa-xs"></i> Регистрация</a></li>
                </ul>
            </div>   
            {% else %}
                <div class="auth logged">
                    <h4><a href="{% url 'profile' user.id %}">Личный кабинет</a> {{user.username}} <i class="fas fa-user-alt fa-1x"></i></h4>
                    <ul>
                        <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="container main-content padding-15">
        <main>
            {% block content %} {% endblock content %}
        </main>
        <aside>
            {% block rightside %} {% endblock rightside %}
        </aside>
    </div>
    {% include 'footer.html' %} 
    <script src="{% static 'js/zepto.min.js' %}"></script> 
    <script src="{% static 'js/general.js' %}"></script>  
    {% block jsfooter %}

    {% endblock jsfooter %}
    {% include 'analytics.html' %}  
</body>

</html>
