{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        {% block pagetitle %} {% if active_page %} {{active_page.title}} - {% endif %} {% endblock pagetitle %} Харьковское областное объединение церквей евангельских христиан-баптистов
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo %} 
        {% include 'seo.html' %} 
    {% endblock seo %}

    <meta name="author" content="team of christians">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
        {% block styles %} {% endblock styles %} 
        {% block jshead %} {% endblock jshead %}

        {% include 'favicons.html' %}
        
</head>

<body>
    <header class="header">
        <div class='container'>
            <div class="header__main">
                {% include 'logo.html' %}
                {% include 'navigation.html' %}
                <div class='header__links'>
                    <a class="header__hot-links" href="{% url 'find-church' %}" title="Найдите церковь">
                        <i class="fas fa-church"></i></a>
                    <a class="header__hot-links" href="{% url 'online' %}" title="Прямые трансляции">
                        <i class="fas fa-video"></i></a>
                </div>
            </div>
        </div>
    </header>
    <nav class="helper-nav">
        <div class="container helper-nav__blocks">
            <ul class="breadcrumbs">
                {% block breadcrumbs %}
                <li class="breadcrumbs__item" >
                        <i class="fas fa-home fa-xs"></i> <a class="breadcrumbs__link" href="/" title='Главная'>Главная</a>
                </li> {% endblock %}
            </ul>

            {% if not user.is_authenticated %}
                <div class="auth"> 
                    <ul class="auth__list">
                        <li class="auth__item"><i class="fas fa-sign-in-alt fa-1x"></i><a class="auth__link" href="{% url 'login' %}">Вход</a></li>
                        <li class="auth__item"><i class="fas fa-user-plus fa-1x"></i><a class="auth__link" href="{% url 'signup' %}">Регистрация</a></li>
                    </ul>
                </div>   
            {% else %}
                <div class="auth">
                    <div class="auth__title">
                        <h4 class="auth__username"><i class="fas fa-user-alt fa-1x"></i> {{user.first_name}}</h4> 
                        <a class="dropdown__icon js-dropdown__icon" href=""><i class="fas fa-chevron-circle-down"></i></a> 
                    </div>
                    <ul class="dropdown__list">
                        {% if user.is_staff %}
                            <li class="dropdown__item"><a class="dropdown__link" href="{% url 'prayer_requests_all' %}">Рабочий кабинет</a></li>
                        {% endif %}
                        <li class="dropdown__item"><a class="dropdown__link" href="{% url 'profile' user.id %}">Личный кабинет</a></li>
                        <li class="dropdown__item"><a class="dropdown__link" href="{% url 'password_change' %}">Изменить пароль</a></li>
                        <li class="dropdown__item"><a class="dropdown__link" href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

    <div class="container main">
        <main class="content">
            {% block content %} {% endblock content %}
        </main>
        <aside class="aside">
            {% block rightside %} {% endblock rightside %}
        </aside>
    </div>
    {% include 'footer.html' %} 
    <script src="{% static 'js/third-party/zepto.min.js' %}"></script> 
    <script src="{% static 'js/main.js' %}"></script>  
    {% block jsfooter %}

    {% endblock jsfooter %}
    {% include 'analytics.html' %}  
</body>

</html>
