<footer class="footer">
    <div class="container footer__sections">
        <section class="footer__section">
            <h4 class="footer__title">Контакты</h4>
            {% include 'address.html' %}
        </section>
        <section class="footer__section">
            <h4 class="footer__title">Информация о нас</h4>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a class="footer__link" href="{% url 'page-detail' 'faith' %}">Вероучение</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__link" href="{% url 'news' %}">Новости</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__link" href="{% url 'find-church' %}">Церкви</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__link" href="{% url 'page-detail' 'churches-history' %}">История
                        церквей</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__link" href="{% url 'contacts' %}">Контакты</a>
                </li>
            </ul>
        </section>
        <section class="footer__section">
            <h4 class="footer__title">Социальные сети</h4>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a class="footer__link" target="_blank" href="https://www.facebook.com/preobrazhenie.kharkov">Facebook</a>
                </li>
                <li class="footer__menu-item">
                    <a class="footer__link" target="_blank" href="https://www.youtube.com/channel/UC8HTjvtsJ2KNFovmDi58Zrg">Youtube</a>
                </li>
            </ul>
        </section>
        <section class="footer__section">
            <h4 class="footer__title">Подписывайтесь на наши письма</h4>
            <div class="footer__description">
                <p>Вы будете получать письма с новостями, будущими событиями и
                    обновлениями сайта</p>
                {% if success_subscriber %}
                <p>Мы отправили вам письмо, где вам нужно подтвердить подписку.
                    Благодарим!</p>
                {% else %}
                {{ errors }}
            </div>
            <form action="{% url 'home' %}" method="POST" id="subscriberForm" class="form">
                {% csrf_token %}
                <input type="email" name="email" id="email" class="form__text--footer">
                <button class="button--footer g-recaptcha" data-sitekey="6LfamGAUAAAAALcdPZEMavJETllAXLhKiRvs-Lvm" data-callback="AddSubscriber">
                    Подписаться
                </button>
            </form>
            {% endif %}
        </section>
    </div>
    <div class="container footer__copyright">
            <p>© Все права принадлежат Харьковскому ООЦ ЕХБ 2011-{% now 'Y' %}</p>
    </div>
</footer>