{% load static %}
<div class="icons">
        <a href="{% url 'find-church' %}" title="Найдите церковь">
            <img src="{% static 'img/church_colored.png' %}" height="25" alt="Найдите церковь"></a>
        <a href="" title="Прямые трансляции">
            <img src="{% static 'img/online_colored.png' %}" height="25" alt="Прямые трансляции"></a>
        <a class="social" href="https://www.facebook.com/%D0%A6%D0%B5%D1%80%D0%BA%D0%BE%D0%B2%D1%8C-%D0%95%D0%A5%D0%91-%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-829425107095399/">
            <i class="fab fa-facebook-f fa-lg"></i></a>
        <a class="social" href="https://www.youtube.com/channel/UC8HTjvtsJ2KNFovmDi58Zrg">
            <i class="fab fa-youtube fa-lg"></i></a>
    </div>