{% load static %}
<div class="logo">
    <a href="/home/" title="Харьковское областное объединение церквей ЕХБ">
        <img class="logo__img" src="{% static 'img/logo.png' %}" alt="Харьковское областное объединение церквей ЕХБ">
    </a>
    <div class="logo__text">
        <a class="logo__link" href="/home/" title="Харьковское областное объединение церквей ЕХБ">
            <span class="logo__title">Харьков для Христа</span>
        </a>
        <span class="logo__description">Харьковское областное объединение церквей ЕХБ</span>
    </div>
</div>