<nav class='menu'>
    <div class="menu__links">
        {% for link in menu_links %}
            <a{% if active_page.slug == link.slug or active_page.parent.slug == link.slug %} class='menu__item menu__item--active' {% else %} class="menu__item" {% endif  %} href="{% url 'page-detail' link.slug %}" title="{{link.title}}">{{link.title}}</a>
        {% endfor %}
    </div>
    <a href="" id="top-menu" class="menu__mobile-link js-menu__mobile"> <i class="menu__icon fas fa-bars fa-2x"></i></a>
</nav>
