{% extends 'base.html' %}

{% block content %}
<div class="signup">
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Зарегистрироваться</button>
  </form>
    <div class="social-login">
      <p>Или авторизуйтесь с</p>
      <a class="login-social" href="{% url 'social:begin' 'twitter' %}"><i class="fab fa-twitter-square fa-2x"></i> Twitter</a>
      <a class="login-social" href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook-square fa-2x"></i> Facebook</a>
    </div>
</div>
{% endblock %}