<section class="home-section home-section--events">
    <div class="container">
        <header class="home-section__header">
          <h2 class="home-section__title">События</h2>
          <p class='home-section__description'>Важные события в Харьковской области и в
            Украине.</p>
        </header>
        <section class="home-section__content--events">
            {% regroup events by date as event_list %}
            {% for date in event_list %}
                <article class="event">
                    <section class="content__column-1-4">
                        <time class="event__date" datetime="{{date.grouper|date:'Y-m-d'}}">{{date.grouper}}</time>
                    </section>
                    <section class="content__column-3-4 event__list">
                        {% for event in date.list %}
                            <section class="event__content">
                                <h3 class="event__title">
                                    <a class="event__link" href='{{event.get_absolute_url}}' title='{{event.title}}'>{{event.title}}</a>
                                </h3>
                                {% if event.date_end %}
                                    <section class="event__dates">
                                        <time datetime="{{event.date|date:'Y-m-d'}}">{{event.date|date:'d'}}</time>-
                                        <time datetime="{{event.date_end|date:'Y-m-d'}}">{{event.date_end}}</time>
                                    </section>
                                {% endif %}
                                {{event.short_description|safe}}
                            </section>
                        {% endfor %}
                    </section>
                </article>
            {% endfor %}
        </section>
    </div>
</section>