{% load static %}

<section  class="home-section home-section--partners">
    <div class="container">
        <ul class="partners">
            <li class="partners__list-item">
                <a target="_blank" href="https://r500.ua/">
                    <img src="{% static 'img/' %}R500_logo.png" alt="500-летие Реформафии">
                </a>
            </li>
            <li class="partners__list-item">
                <a target="_blank" href="https://svitle.org/ru/">
                    <img src="{% static 'img/' %}Svitle_Radio.png" alt="Светлое Радио">
                </a>
            </li>
            <li class="partners__list-item">
                <a target="_blank" href="http://twr-ua.org/">
                    <img src="{% static 'img/' %}twr.png" alt="Трансмировое радио">
                </a>
            </li>
            <li class="partners__list-item">
                <a target="_blank" href="https://ua.yesheis.com/uk-ua/">
                    <img src="{% static 'img/' %}yesheis.png" alt="Yes, He Is!">
                </a>
            </li>
        </ul>
  </div>
</section>