header.home .buttons a {
  padding: 7px 18px;
  text-decoration: none;
  font-size: 0.9em;
  border: 1px solid #424242;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #333;
  background-color: #6e777f;
  margin-right: 10px;
  border-color: #fff;
  color: #fff;
}
header.home .buttons a:hover {
  background-color: #8b796a;
}
header.home .buttons a img {
  width: 25px;
  vertical-align: middle;
  padding-right: 5px;
}
.subscribe form input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #b0c6d2;
  border: none;
  line-height: 1.7em;
  width: 15em;
  padding: 5px 10px;
  color: #416275;
  font-size: 0.8em;
}
.subscribe form input:focus {
  outline: none;
}
.blue {
  background-color: #215371;
}
.blue:hover {
  background-color: #2d7098;
}
.grey {
  background-color: #215371;
}
.grey:hover {
  background-color: #2d7098;
}
button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 10px;
  color: #416275;
  font-size: 0.8em;
  line-height: 1.7em;
  border: none;
}
.button {
  padding: 7px 18px;
  text-decoration: none;
  font-size: 0.9em;
  border: 1px solid #424242;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  cursor: pointer;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  border: 1px solid #424242;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 14px;
  background-color: #fff;
  font-size: 1em;
  line-height: 1.7em;
  width: 100%;
  max-width: 350px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
  border-color: #416275;
}
input[type=checkbox] {
  width: 1.5em;
  align-self: center;
}
.container {
  margin: 0 auto;
}
a {
  color: #424242;
}
body > header {
  font-family: 'Roboto', sans-serif;
  border-bottom: 10px solid #778f9c;
  background-image: url('/static/img/echb_bkgrnd.jpg');
  background-repeat: no-repeat;
  background-color: #416275;
  background-blend-mode: exclusion;
  max-height: 105px;
  width: 100%;
  background-position: 75% 0;
}
body > header .logo {
  margin: 15px 0;
}
body > header .logo > a {
  text-decoration-line: none;
  text-align: center;
}
body > header .logo > a img {
  width: 6em;
  padding-right: 12px;
}
body > header .logo .logo-description {
  font-size: 0.9em;
  margin-top: 3px;
  text-align: left;
  width: 80%;
  display: none;
}
body > header .logo .social {
  color: #dee8ec;
}
body > header .logo .logo-text span {
  font-size: 1.8em;
  width: 100%;
  margin-top: 5px;
}
body > header span {
  color: #fff;
  font-size: 1em;
  display: block;
  width: 98%;
  text-align: left;
}
body > header.home {
  background-position: 100%;
  height: 526px;
  max-height: 526px;
}
body > header.home .logo {
  display: block;
}
body > header.home .logo div a {
  margin: 0 10px;
}
body > header.home .logo span {
  margin-top: 20px;
  font-size: 1em;
  width: 100%;
}
body > header.home .logo img {
  float: left;
}
body > header.home .description {
  color: #fff;
  margin-top: 6vw;
}
body > header.home .description h1 {
  font-size: 2em;
}
body > header.home .description .social a {
  margin-right: 15px;
  color: #c8e8fb;
}
body > header.home .description p {
  font-size: 1em;
  line-height: 1.5em;
}
body > header.home .description .buttons {
  display: flex;
}
body > header.home .description .buttons a {
  flex-basis: 170px;
}
body > header .hot-links {
  margin-top: 5px;
  width: 100px;
  float: right;
  margin-right: 20px;
}
body > header .hot-links a {
  color: #fff;
  font-size: 0.8em;
  vertical-align: middle;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #757373;
}
body > header .hot-links a:hover {
  background-color: #424242;
  border: 1px solid #fff;
}
body > header .hot-links a:first-of-type {
  margin-right: 2px;
}
body > header .hot-links a img {
  border-style: none;
  width: 15px;
  vertical-align: sub;
  margin-right: 5px;
}
.main-nav div.links {
  display: none;
}
.home .main-nav {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #424242;
}
h1 {
  font-size: 2.2em;
  color: #fff;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1em;
  text-transform: uppercase;
  color: #b0c6d2;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.padding-30 {
  padding: 30px 30px;
}
.padding-15 {
  padding: 0 15px;
}
main > section header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 30px 0 20px;
}
main > section header h2 {
  margin-bottom: 0;
}
main > section header p.description {
  font-size: 0.9em;
  color: #2f4754;
}
#left-btn,
#right-btn {
  align-self: center;
  justify-self: center;
}
.ministries .slider .articles {
  position: relative;
}
.facebook {
  margin: 60px 0;
}
article h2 {
  line-height: 1.1em;
  margin: 3px 0 0;
}
article h3 {
  margin-bottom: 0;
}
article h3 a {
  text-decoration: none;
  border-bottom: 1px solid #424242;
  line-height: 1.4em;
  color: #424242;
}
article h3 a:hover {
  color: #757575;
  border-bottom: 1px solid #757575;
}
article .urgent {
  border: 1px solid #68cc86;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #68cc86;
  margin: 10px 0;
}
article .urgent p {
  color: #fff;
  margin: 10px 0;
}
article .meta {
  margin: 7px 0;
  color: #424242;
  font-size: 0.9em;
  font-family: 'Arial', sans-serif;
}
article .meta time::after,
article .meta span:nth-child(1)::after {
  content: " | ";
}
article .meta a {
  color: #416275;
}
article .meta a:hover {
  color: #757575;
}
article .article-content {
  margin-top: 20px;
}
article #prayer-requests {
  display: flex;
  flex-wrap: wrap;
}
article #prayer-requests div {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 250px;
  margin: 10px 15px;
}
article #prayer-requests div p {
  padding: 0 15px;
}
article #prayer-requests div p:last-of-type {
  font-size: 0.9em;
}
article #prayer-requests div h4 {
  background-color: #516384;
  margin: 0;
  padding: 15px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
article .content .image {
  float: left;
  height: 166px;
  background-position: center;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #999;
  width: 100%;
  background-repeat: no-repeat;
}
article .content p {
  font-family: 'Arial', sans-serif;
  line-height: 1.4em;
  font-size: 1em;
  margin-top: 0;
  padding-top: 3px;
  color: #424242;
}
article .content p a.more {
  color: #424242;
  font-size: 0.9em;
  text-decoration: none;
  border: 1px solid #424242;
  padding: 0 7px;
  border-radius: 5px;
  margin-top: 8px;
  display: table;
}
.events {
  background: url('/static/img/calendar.png') #F2E8DC;
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-bottom: 30px;
}
.events time {
  display: block;
  margin-top: 32px;
  font-size: 1.4em;
  color: #424242;
}
.ministries article {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}
.ministries article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.ministries article .content h3 {
  margin-bottom: 15px;
}
.ministries article a {
  align-self: center;
  justify-self: center;
}
.about-us {
  background-image: url('/static/img/people.jpg');
  background-attachment: fixed;
}
.about-us .container {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}
.about-us .left {
  align-self: center;
  justify-self: center;
}
.about-us .left img {
  max-width: 340px;
}
.about-us .right {
  align-self: center;
}
.about-us .right ul li {
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}
.about-us .right ul li a {
  color: #424242;
  text-decoration: none;
  border-bottom: 1px solid #424242;
}
.about-us .right ul li a:hover {
  color: #757575;
}
.resources .right .partners {
  margin-top: 70px;
}
.resources .right .partners a {
  align-self: center;
  justify-self: center;
  flex-basis: 100%;
}
footer {
  background-color: #416275;
  color: #b0c6d2;
  font-family: 'Roboto', sans-serif;
}
footer h4 {
  font-weight: 400;
}
footer a {
  color: #b0c6d2;
  font-weight: 300;
  text-decoration: none;
}
footer a:hover {
  color: #d0dde5;
}
footer p {
  line-height: 1.4em;
  font-weight: 300;
}
footer address {
  line-height: 1.4em;
  font-style: normal;
  font-weight: 300;
}
footer ul li {
  line-height: 1.8em;
  border-bottom: 1px dotted;
  width: 75%;
}
footer .rights {
  font-size: 0.8em;
  justify-self: right;
}
footer button {
  margin-left: 5px;
  background-color: #e0e9ef;
}
.helper_nav {
  margin-top: 20px;
}
.helper_nav ul.breadcrumbs {
  margin: 5px 0;
}
.helper_nav ul.breadcrumbs li {
  display: inline-block;
}
.helper_nav ul.breadcrumbs li a {
  color: #424242;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-bottom: 0px;
  text-decoration: none;
  border-bottom: 1px solid #424242;
}
.helper_nav ul.breadcrumbs li:not(:last-child):after {
  content: ' \003e ';
  color: #424242;
  font-size: 0.7em;
}
.helper_nav .logged ul {
  margin-top: 5px;
}
.helper_nav .auth {
  padding-left: 5px;
}
.helper_nav .auth h4 {
  text-transform: none;
  margin: 5px 0 0;
}
.helper_nav .auth h4 a {
  color: #424242;
}
.helper_nav .auth ul {
  margin-top: 5px;
}
.helper_nav .auth ul li {
  display: inline-block;
}
.helper_nav .auth ul li a {
  text-decoration: none;
  border-bottom: 1px solid #424242;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  margin-right: 10px;
}
#feedbackForm {
  margin: 20px 0 20px 0;
}
#feedbackForm .fieldWrapper {
  margin: 15px 0;
}
#feedbackForm .fieldWrapper label {
  align-self: center;
}
.main-content {
  margin-bottom: 50px;
}
.main-content .login,
.main-content .signup {
  width: 90%;
}
.main-content .login .button,
.main-content .signup .button {
  background-color: #416275;
}
.main-content .login .button:hover,
.main-content .signup .button:hover {
  background-color: #537d96;
}
.main-content main {
  padding: 0 15px 0 0;
  line-height: 1.4em;
}
.main-content main p {
  font-family: 'Arial', sans-serif;
  color: #424242;
}
.main-content main .form .address {
  margin-top: 50px;
}
.main-content main .form .address img {
  max-width: 350px;
}
.main-content main .form .address a {
  color: #424242;
}
.main-content main .login form {
  margin: 50px 0;
}
.main-content main .login form p {
  align-self: center;
}
.main-content main .login-social {
  border: 1px solid #416275;
  background: #416275;
  color: #fff;
  padding: 15px 60px;
  border-radius: 8px;
  text-decoration: none;
}
.main-content main .login-social i {
  vertical-align: middle;
  padding-bottom: 5px;
  padding-right: 30px;
}
.main-content main .social-login {
  margin-right: 17%;
  text-align: center;
}
.main-content main #map {
  width: 100%;
  height: 700px;
}
.main-content main h2 {
  margin-bottom: 5px;
  margin-top: 12px;
}
.main-content main .description {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.main-content main img {
  max-width: 100%;
  padding: 15px 0 5px;
}
.main-content main .articles article {
  min-height: 190px;
}
.main-content main .articles article h3 a {
  border-bottom: 1px solid #424242;
  font-weight: 400;
}
.main-content main .resources article {
  min-height: 110px;
}
.main-content main .pagination {
  margin-top: 40px;
}
.main-content main .pagination .page-link {
  align-self: center;
  justify-self: center;
}
.main-content main .pagination a i {
  color: #424242;
}
.main-content main .button {
  color: #fff;
}
.main-content main ul {
  padding: 0 0 10px 10px;
  list-style-type: circle;
}
.main-content main ul li {
  color: #424242;
  line-height: 1.2em;
  padding: 5px 0;
}
.main-content main .photos .item {
  cursor: pointer;
}
.main-content main .photos .item .image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-position: 75% 25%;
}
.main-content main #details {
  margin: 10px 0 30px;
}
.main-content main #details #closest-churches-list {
  margin: 10px 0 0;
}
.main-content main #details #closest-churches-list div {
  font-size: 0.9em;
  border-bottom: 1px dotted #424242;
  padding: 5px 0;
}
.main-content main #details #closest-churches-list div a {
  color: #416275;
  font-size: 0.9em;
}
.main-content main #details #closest-churches-list div .church-route {
  border: 1px solid #424242;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  text-decoration: none;
  color: #424242;
  padding: 1px 5px;
  float: right;
  margin-right: 10px;
}
.main-content main #details #closest-churches-list div .info {
  margin-left: 10px;
}
.main-content main #details #closest-churches-list div .info li span {
  font-weight: bold;
}
.main-content main #details #closest-churches-list div .info li table {
  margin-left: 10px;
}
.main-content main #details #closest-churches-list div .info li table tbody tr:first-of-type {
  font-weight: bold;
}
.galleries {
  list-style-type: none;
  padding: 0;
}
.galleries li {
  text-align: center;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 350px;
}
.galleries li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.galleries li .photo-content {
  width: 100%;
}
.galleries li .image {
  max-width: 300px;
  height: 200px;
  padding: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.galleries li h3 {
  font-size: 1.1em;
  margin-top: 35px;
  padding: 0 15px;
}
.galleries li h3 a {
  color: #424242;
  text-decoration: none;
  border-bottom: 1px solid #424242;
  line-height: 1.4em;
}
.galleries li p {
  font-size: 0.8em;
}
.galleries li p:first-of-type {
  padding-left: 12px;
}
aside section:nth-child(1) {
  margin-top: 60px;
}
aside .archive ul li {
  padding: 3px 0;
}
aside ul li {
  line-height: 1.5em;
  padding: 7px 0;
}
aside ul li a {
  font-family: 'Roboto', sans-serif;
  color: #424242;
  font-size: 1em;
  font-weight: 300;
  text-decoration-line: none;
  border-bottom: 1px solid #424242;
}
aside ul li a:hover {
  color: #757575;
  border-bottom-color: #757575;
}
aside ul li .date {
  font-size: 0.9em;
}
aside .filter-links {
  border-bottom: 1px solid #424242;
  width: 160px;
}
aside .filter-links li:first-of-type {
  border-right: 1px solid #424242;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-top: 0px;
}
aside .filter-links li {
  display: inline;
}
aside .filter-links li a {
  text-decoration-line: none;
  border-bottom: none;
}
aside .filter-links li a:hover {
  color: #5c5c5c;
}
aside .submenu {
  padding: 5px 0 0 20px;
}
aside .submenu li {
  line-height: 1em;
}
aside .submenu li a {
  font-size: 0.9em;
}
.video-categories-detail {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-top: 30px;
}
.video-categories-detail .video-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #416275;
  margin-right: 2%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 40px 5px;
}
.signup form p .helptext {
  font-size: 0.9em;
  font-style: italic;
  padding-top: 5px;
}
.signup form ul {
  list-style-type: disc;
  margin-left: 20px;
}
.signup form ul li {
  font-size: 0.9em;
  padding: 1px 0;
  font-style: italic;
}
#top-menu {
  display: block;
  color: #fff;
  margin-top: 35px;
  float: right;
}
.mobile {
  color: #333;
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 528px;
}
.mobile div.links {
  display: flex;
  flex-flow: column;
  color: #333;
  align-items: flex-end;
  margin: 100px 0;
}
.mobile #top-menu {
  color: #333;
  margin-right: 20px;
  margin-top: 35px;
}
.mobile .links a {
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.form button {
  background-color: #333;
}
.form button:hover {
  background-color: #4d4d4d;
}
#closestChurches {
  background-color: #416275;
}
#closestChurches:hover {
  background-color: #537d96;
}
@media only screen and (min-width: 1200px) {
  .main-nav {
    color: #fff;
    align-self: center;
  }
  .main-nav div.links {
    display: block;
    width: 100%;
    float: left;
  }
  .main-nav a {
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    margin: 0 7px;
    border: 2px solid transparent;
  }
  .main-nav a.active,
  .main-nav a:hover {
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-transition-property: border-color;
    transition-property: border-color;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: ease, ease-out;
    transition-delay: 0s, 0.4s;
  }
  body > header.home .logo span {
    width: 70%;
  }
  body > header .logo span {
    font-size: 0.9em;
  }
  body > header .logo .logo-description {
    display: block;
  }
  .home .main-nav {
    margin-bottom: 0;
    display: block;
  }
  .home .main-nav .hot-links {
    display: none;
  }
  #top-menu {
    display: none;
  }
  .test {
    font: 4500;
  }
  article .content .image {
    float: left;
    width: 170px;
    height: 120px;
    background-position: center;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #999;
  }
  .events time {
    float: right;
    margin-right: 30px;
  }
}
.header {
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
  grid-template-rows: 0.8fr 2fr;
  padding: 0 15px;
}
.header .description {
  grid-column-start: 1;
  grid-column-end: 3;
}
.logo {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: self-start;
}
.logo .logo-img {
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo .logo-text {
  align-self: end;
}
.news .container .articles {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(300px, 570px));
  grid-column-gap: 30px;
}
.events .container .articles article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  margin-bottom: 40px;
}
.ministries .container .articles,
main .ministries .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-auto-flow: row;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.ministries .container .articles article,
main .ministries .articles article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.about-us .container {
  display: grid;
  grid-template-columns: 1fr;
}
.resources .container {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}
.resources .container .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 370px));
  grid-auto-flow: row;
  grid-column-gap: 30px;
}
.resources .container .right .partners {
  display: flex;
  flex-wrap: wrap;
}
footer .container {
  display: flex;
  flex-flow: column;
}
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.3fr;
  grid-column-gap: 20px;
}
.main-content .pagination .page-links {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
}
.fieldWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}
.galleries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galleries li {
  display: flex;
  flex-basis: 90%;
  align-self: center;
  margin: 0 2% 3% 0;
  flex-flow: column;
  max-width: 280px;
}
.main-galleries .galleries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px 0;
}
.photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-row-gap: 15px;
}
.login form p,
.password form p {
  display: grid;
  grid-template-columns: 20% 1fr;
}
.signup form p {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
}
.signup form p span {
  grid-column-start: 1;
  grid-column-end: 3;
}
.helper_nav .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .video-categories-detail .video-category {
    width: 30%;
  }
  .main-galleries .galleries li,
  .galleries li {
    display: flex;
    flex-basis: 24%;
    align-items: center;
    margin: 0;
    flex-flow: column;
  }
  .about-us .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    padding-bottom: 0;
  }
  footer .container .rights {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .resources .container .right .partners {
    display: flex;
    flex-wrap: no-wrap;
    flex-flow: row;
  }
  .header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
  }
  .events .container .articles article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
  .helper_nav .container {
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3%;
  }
  .main-content {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3%;
  }
  .form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
  }
  .fieldWrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr;
  }
}
