{% extends "base.html" %}
{% load static %}
{% load videos_in_category %}

{% block breadcrumbs %}
    {{ block.super }} 
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'page-detail' 'about-us' %}" title="О нас">О нас</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'online' %}" title="{{active_page.title}}">{{active_page.title}}</a></li>
{% endblock %}

{% block content %}
    <h2 class="content__title">
        {{active_page.title}}
    </h2>
    <section class="video-cat__list">
        {% for category in videocategory_list %}
            <div class="video-cat">
                <div class="video-cat__img">
                    <img src="{% static 'media/' %}{{category.icon}}" alt="">
                </div>
                <div class="video-cat__videos">
                {% regroup video_list|videos_in_category:category.slug by date|date:"d E Y" as events_by_date %}
                {% for date in events_by_date %}
                        <h3 class="video-cat__video-title">{{date.grouper}}</h3> 
                        {% for video in date.list %}
                            <div class="video-cat__video">
                                <span class="video-cat__video-date"> {{video.date|date:'H:i'}}</span>
                                <a class="video-cat__video-link" href="{% url 'video-detail' video.pk %}">{{video.title}}</a>
                            </div>
                        {% endfor %}
                {% endfor %}
                </div>
            </div>
            {% empty %}
                <h4>За прошедшие 7 дней не было онлайн трансляций.</h4>
                <p>Вы можете посмотреть видео из <a href="{% url 'interesting-videos' %}">интересных событий</a>, или почитать <a href="{% url 'articles' %}">статьи</a></p>

        {% endfor %}
    </section>
    
{% endblock content %}

