{% extends "base.html" %} 

{% block breadcrumbs %}
    {{ block.super }} 
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'page-detail' 'about-us' %}" title="О нас">О нас</a>
        </li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'online' %}">Прямые трансляции</a></li>
{% endblock %}

{% block content %}
<article class="form">
    <div>
        <h2>Молитвенное служение</h2>
        <p>Мы получили вашу записку, она будет передана ведущему собрания, если отвечает правилам, указанным отдельно на сайте.</p>
    </div>
</article>
{% endblock content %}