{% load static %}
<body style="padding: 0;margin: 0;font-size:1em;font-family:Tahoma;">
    <div class="main-header" style="background-image: url('{{domain}}/static/img/echb_bkgrnd_1.jpg');background-repeat: no-repeat;background-color: #416275;background-blend-mode: exclusion;max-height: 200px;width: 100%;display: flex;flex-flow: column;justify-content: space-between;">
        <div class="container" style="padding: 15px 15px;">
            <div class="logo" style="display: flex;justify-content: flex-start;flex-flow: row;align-items: center;">
                <a href="{{domain}}" target="_blank" > <img style="width: 100px;" src="{{domain}}/static/img/logo.png" alt="Харьковское областное объединение церквей ЕХБ"></a>
                <a href="{{domain}}" target="_blank" style="text-decoration: none;" > <h4 style="color: #fff;margin-left: 15px;width: 60%;">Харьковское областное объединение церквей ЕХБ</h4></a>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 15px 15px;">
        <div class="greetings">
            <p style="color:#333;">Здравствуйте!</p>
            <p style="color:#333;">В этом письме вы найдете последние новости, статьи и предстоящие
                события.</p>
        </div>
        <div class="list">
            <h2 style="color:#424242;border-bottom: 1px solid #424242;">Последние новости</h2>
            {% for item in news %}
            <div class='item'>
                <h3>
                    <a style="text-decoration: none;line-height: 1.4em;color: #424242;" href='{{domain}}{{item.get_absolute_url}}' title='{{item.title}}' target="_blank" >{{item.title}}</a>
                </h3>
                <div class="meta">
                    <time datetime="{{item.publication_date|date:'Y-m-d'}}" style="color:#424242;">{{item.publication_date|date:'d F Y'}}</time> | 
                    <span style="color:#424242;">{{item.author.last_name}} {{item.author.first_name}}</span>
                </div>
                <section class="content">
                    <p style="color:#333;">
                        {{item.description|striptags|truncatechars:250|safe}}
                        <a style="color: #424242;" class='more' href='{{item.get_absolute_url}}' target="_blank" title='{{item.title}}'>читать
                            далее...</a>
                    </p>
                </section>
            </div>
            {% endfor %}
        </div>

        {% if events %}
        <div class="list">
            <h2 style="color:#424242;border-bottom: 1px solid #424242;">Предстоящие события</h2>
            {% for event in events %}
            <div class="item">
                <h3 style="padding-bottom:3px;line-height: 1.4em;color: #424242;">
                    <time datetime="{{event.date|date:'Y-m-d'}}">{{event.date|date:'d F Y'}}</time>
                </h3>
                <section class="content">
                    <h3>
                        <a style="color: #424242;" href='{{domain}}{{event.get_absolute_url}}' title='{{event.title}}'>{{item.title}}</a>
                    </h3>
                    <p style="color: #424242;">{{event.short_description|safe}}</p>
                </section>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if articles %}
        <div class="list">
            <h2 style="color:#424242;border-bottom: 1px solid #424242;">Последние статьи</h2>
            {% for article in articles %}
            <div class="item">
                <h3 style="padding-bottom:3px;line-height: 1.4em;color: #424242;">
                    <a href='{{domain}}{{article.get_absolute_url}}' target="_blank"  alt='{{article.title}}'>{{article.title}}</a>
                </h3>
                <div class="meta">
                    <time style="color: #424242;" datetime="{{article.date|date:'Y-m-d'}}">{{article.date|date:'d F Y'}}</time>
                    <span style="color: #424242;">
                        <a target="_blank"  href="{% url 'author-filter' article.author.id %}"
                            alt="{{article.author.last_name}} {{article.author.first_name}}">{{article.author.last_name}}
                            {{article.author.first_name}}</a>
                    </span> |
                    <span>
                        <a style="color: #424242;" target="_blank"  href="{% url 'category-filter' article.category.slug %}"
                            alt="{{article.category.title}}">{{article.category.title}}</a>
                    </span>
                </div>
                <div class="content">
                    <p style="color:#333;">{{article.description|striptags|truncatechars:250|safe}}...</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    С уважением,
    администрация ресурса "Харьков для Христа"
    </div>

</body>