{% extends "newsevents/newsitem_list.html" %} 

{% block pagetitle %}
    {{newsitem.title}} - 
    {{block.super}}
{% endblock pagetitle %}


{% block seo %}
    {% include 'newsevents/open_graph.html' with item=newsitem %}
{% endblock seo %}
    
    

{% block breadcrumbs %}
    {{ block.super }} <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="{{ newsitem.get_absolute_url }}">{{ newsitem.title }}</a></li>
{% endblock %}

{% block content %}
<article>
<h2 class="content__title">
    {{newsitem.title}}
</h2>

<ul class="meta-info">
    <li class="meta-info__item">
        <time class="meta-info__text" datetime="{{newsitem.publication_date|date:'Y-m-d'}}">
            {{newsitem.publication_date|date:'d E Y'}}</time></li>
    <li class="meta-info__item">{{newsitem.author.last_name}} {{newsitem.author.first_name}}</li>
</ul>
<div class="content__text">
        {{newsitem.description|safe}}
</div>
</article>
<section class="content__facebook">
    <div class="fb-share-button" data-href="http://{{domain}}{% url 'news-detail' newsitem.id %}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
    <div class="fb-comments" data-href="http://{{domain}}{% url 'news-detail' newsitem.id %}" data-numposts="5" width="100%"></div>
</section>

{% endblock content %} 

{% block rightside %}
{% include 'newsevents/last_news.html' with latest_news=latest_news %}
{% endblock rightside %}

{% block jsfooter %}
<!-- Script for facebook messages-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=221986148438568';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Script for share button-->
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=221986148438568';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

{% endblock jsfooter %}
    <!-- SCript for facebook messages-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=621414438046348';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>