{% extends "base.html" %} 
{% load static %} 
{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="{% url 'news' %}" title='Новости'>Новости</a>
</li>
{% endblock breadcrumbs %} 

{% block content %}
<header>
    <h2 class="content__title">Новости</h2>
    <p class='content__description'>Подписывайтесь на наши новости или читайте в вашем ридере через
        <a class="content__link" target="_blank" href="{% url 'news-feed' %}">RSS</a> .</p>
</header>
<div class="articles">
    {% for item in newsitem_list %}
    <article class="news-item">
        {% include 'newsevents/newsitem_summary.html' with item=item text_limit=300 %}
    </article>
    {% endfor %}
</div>
{% include "pagination.html" %}
{% endblock content %} 
{% block rightside %}
    {% include 'newsevents/search_form.html' %}
    <section class="archive">
        <h3>Архив</h3>
        <ul class="aside__menu-list">
            {% for item in archive_news %}
            <li class="aside__menu-item">
                <a class="aside__menu-link" href="{% url 'archive-news' item.month|date:'Y' item.month|date:'m' %}" alt="">{{item.month|date:"F Y"}}</a>
            </li>
            {% endfor %}
        </ul>
        <a target="_blank" href="{% url 'news-feed' %}">
            <img width='32' src="{% static 'img/rss.png' %}" alt="">
        </a>
    </section>
{% endblock rightside %}