{% extends "newsevents/newsitem_list.html" %} 

{% block pagetitle %}
    {{newsitem.title}} - 
    {{block.super}}
{% endblock pagetitle %}
    

{% block breadcrumbs %}
    {{ block.super }} <li> <a href="{{ newsitem.get_absolute_url }}">{{ newsitem.title }}</a></li>
{% endblock %}

{% block content %}
<article>
<h2>
    {{newsitem.title}}
</h2>

<div class="meta">
    <span>{{newsitem.publication_date|date:'d F Y'}} </span> 
    <span> {{newsitem.author.last_name}} {{newsitem.author.first_name}}</span>
</div>
<div class="article-content">
        {{newsitem.description|safe}}
</div>
</article>
<section class="facebook">
    <div class="fb-share-button" data-href="http://{{domain}}{% url 'news-detail' newsitem.id %}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
    <div class="fb-comments" data-href="http://{{domain}}{% url 'news-detail' newsitem.id %}" data-numposts="5" width="100%"></div>
</section>

{% endblock content %} 

{% block rightside %}
<section class="last_news">
<h3>Последние новости</h3>
<ul>
    {% for item in latest_news %}
    <li>
        <a href="{{item.get_absolute_url}}" alt="{{item.title}}">{{item.title}}</a> <span class="date"> {{item.publication_date|date:'d.m.Y'}}</span>
    </li>
    {% empty %}
    <p>Нет новостей</p>
    {% endfor %}
</ul>
</section>
{% endblock rightside %}

{% block jsfooter %}
<!-- Script for facebook messages-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=221986148438568';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Script for share button-->
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=221986148438568';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

{% endblock jsfooter %}
    <!-- SCript for facebook messages-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11&appId=621414438046348';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>