{% extends "base.html" %} 
{% load static %} 
{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="{% url 'news' %}" title='Новости'>Новости</a>
</li>
{% endblock breadcrumbs %} 

{% block content %}
<header>
    <h2 class="content__title">Результаты поиска</h2>
    <p class='content__description'>Найдено {{page_obj.paginator.count}} записей</p>
</header>
<div class="articles">
    {% for item in results %}
    <article class="news-item">
        {% include 'newsevents/newsitem_summary.html' with item=item text_limit=300 %}
    </article>
    {% empty %}
        Нет записей
    {% endfor %}
</div>
{% if is_paginated %}
<div class="pagination">
      <div class='pagination__item'>
        {% if page_obj.has_previous %}
            <a class="pagination__link" href="{{ request.path }}?query={{query}}&page={{ page_obj.previous_page_number }}">
              <i class="pagination__icon far fa-arrow-alt-circle-left fa-2x"></i>
            </a>
        {% endif %}
      </div>
      <div class="pagination__item">
          <span class="pagination__current-page">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
          </span>
      </div>
      <div class="pagination__item">
          {% if page_obj.has_next %}
              <a class="pagination__link" href="{{ request.path }}?query={{query}}&page={{ page_obj.next_page_number }}">
                <i class="pagination__icon far fa-arrow-alt-circle-right fa-2x"></i>
              </a>
          {% endif %}
    </div>
</div>
{% endif %}
{% endblock content %} 
{% block rightside %}
{% include 'newsevents/last_news.html' with latest_news=latest_news %}
{% endblock rightside %}