{% extends "base.html" %} 
{% load static %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url  'page-detail' 'about-us' %}" title="О нас">О нас</a></li>
    <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="{% url 'find-church' %}" title="Найдите церковь">Найдите церковь</a></li>
{% endblock %}

{% block content %}
    <h2>Найдите церковь</h2>
    <div id="messages"></div>
    <p class="description">Здесь вы можете найти ближайшие к себе церкви, входящие в наш союз.</p>
    <div id="details">
            <a href="" id="get_closest_churches" class="button">Найти ближайшие церкви</a>
            <div id="closest-churches-list"></div>
    </div>
    <div id="map"></div>  
{% endblock content %}

{% block rightside %}
    <section id="regions">
    </section>   
{% endblock rightside %}


{% block jsfooter %}
<script src="{% static 'js/third-party/zepto.min.js' %}"></script>
<script src="{% static 'js/third-party/tmpl.min.js' %}"></script>
<script src="{% static 'js/map-min.js' %}"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWjsOGJ81bvg4NQDHs_IauOsNRnffn6Yg">
</script>

<script>
    $(document).ready(function(){
        const data = new Data('data/regions', 'data/churches');
        const gMap = new GMapServices(49.8353139, 36.663565, 8, "map", google);
        data.getPromise().then(data => {
            new App(data.regions, data.churches, gMap, closestChurchesQnty=6);
        });
    });
</script>
{% include 'churches/map_templates.html' %}
{% endblock jsfooter %}
    