{% extends "base.html" %} {% load static %} 
{% block jshead %}
<script>
    function validateFeedback(){
        $('#feedbackForm').get(0).submit();
    }
</script>
{% endblock jshead %} 

{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumbs__item">
    <a class="breadcrumbs__link" href="{% url 'contacts' %}" title="Контакты">Контакты</a>
</li>
{% endblock %} 
{% block content %}
<article>
    <h2>Обратная связь</h2>
    <div class="content__column-2-4">
        <form action="" method="post" id='feedbackForm' class="form">
            {% csrf_token %} 
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }} 
                    {{ field }} 
                    {% if field.html_name == 'cc_myself' %}
                        {{field.label}}
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button 
                class="button button--content g-recaptcha"
                data-sitekey="6LfamGAUAAAAALcdPZEMavJETllAXLhKiRvs-Lvm"
                data-callback="validateFeedback">
                Отправить
            </button>

        </form>
    </div>
    <div class="content__column-2-4">
        <img src="{% static 'img/'%}map.png" alt="Контакты"> {% include 'address.html' %}
    </div>
</article>

{% endblock %}