{% extends "base.html" %}
{% load static %}
{% load videos_in_category %}

{% block breadcrumbs %}
    {{ block.super }} 
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'page-detail' 'about-us' %}" title="О нас">О нас</a></li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="{% url 'online' %}" title="{{active_page.title}}">{{active_page.title}}</a></li>
{% endblock %}

{% block content %}
    <h2 class="content__title">
        {{active_page.title}}
    </h2>
    <section class="video-cat__list">
        {% for category in videocategory_list %}
            <div class="video-cat">
                <img src="{% static 'media/' %}{{category.icon}}" alt="">
                {% for video in video_list|videos_in_category:category.slug %}

                {% if forloop.first %}
                      <h3 class="video-cat__video-title">{{video.date|date:'d F Y'}}</h3>     
                {% endif %}
                    <h4 class="video-cat__video-title"><span class="video-cat__video-date"> {{video.date|date:'H:i'}}</span> <a class="video-cat__video-link" href="{% url 'video-detail' category.slug video.pk %}">{{video.title}}</a></h4>
                {% endfor %}
            </div>
            {% empty %}
                <h4>За прошедшие 7 дней не было онлайн трансляций.</h4>
                <p>Вы можете посмотреть видео из <a href="{% url 'interesting-videos' %}">интересных событий</a>, или почитать <a href="{% url 'articles' %}">статьи</a></p>

        {% endfor %}
    </section>
    
{% endblock content %}

