{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>
    Главная - Харьковское объединение евангельских христиан-баптистов
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'seo.html' %}
  <meta name="author" content="team of christians">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  {% if debug %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

  {% include 'pages/home/favicons.html' %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="home">
  <header class="header">
    <div class='container'>
    <div class="header__main">
        {% include 'logo.html' %}
        {% include 'navigation.html' %}
      </div>
      <div class="header__description">
        <h1 class="header__title">Харьков для Христа</h1>
        <div class="header__icons">
          <a class="header__social" target="_blank" href="https://www.facebook.com/preobrazhenie.kharkov">
            <i class="fab fa-facebook-f fa-2x"></i></a>
          <a class="header__social" target="_blank" href="https://www.youtube.com/channel/UC8HTjvtsJ2KNFovmDi58Zrg">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
        </div>
        <p>Иисус сказал ... Я есмь путь и истина и жизнь; <br />никто не
          приходит к Отцу, как только через Меня. <br />(Евангелие от Иоанна
          14.6)</p>
        <div class='header__buttons'>
          <a class="button button--header" href="{% url 'find-church' %}" title="Найдите церковь">
            <i class="fas fa-church"></i> Найдите церковь</a>
          <a class="button button--header" href="{% url 'online' %}" title="Прямые трансляции">
            <i class="fas fa-video"></i> Прямые трансляции</a>
        </div>
      </div>
    </div>
  </header>
  <main>
    {% include 'pages/home/news.html' with news=news %}
    {% include 'pages/home/events.html' with events=events %}
    {% include 'pages/home/galleries.html' with galleries=galleries %}
    {% include 'pages/home/about-us.html' %}
    {% include 'pages/home/resources.html' with articles=articles %}
    {% include 'pages/home/partners.html' %}
  </main>
  {% include 'footer.html' %}
  {% block jsfooter %}
  <script src="{% static 'js/third-party/zepto.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock jsfooter %}
  {% include 'analytics.html' %}
</body>

</html>