{% extends "base.html" %} 
{% block breadcrumbs %}
    {{ block.super }} 
    <li><a href="{% url 'page-detail' 'about-us' %}" title="О нас">О нас</a></li>
    <li><a href="{{active_page.slug}}" title="{{active_page.title}}">{{active_page.title}}</a></li>
{% endblock %}

{% block content %}
<article>
    <h2>
        {{active_page.title}}
    </h2>
    <section class="videos">
        {% for video in videos %}
         <article>
            <h3>{{video.title}}</h3>
            <div class="meta"> <time datetime="{{video.date|date:'Y-m-d'}}">{{video.date|date:'d F Y'}}</time></div>

            <iframe width="560" height="315" src="{{video.youtube_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             
        </article>   
         {% endfor %}
    </section>
</article>

{% endblock content %}

{% block rightside %}
    <section class="video-categories">
        <h3>Категории</h3>
        <ul>
            {% for cat in categories %}
            <li><a href="{% url 'videos-by-filter' cat.slug %}" title="{{cat.title}}">{{cat.title}}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock rightside %}
    